
<!--
   This is a multi-line comment.
   You can use it to explain complex code.
-->
<!DOCTYPE html>
<html>
<head>
    <!-- it is the title of the vhicle -->
    <title>Vehicles - CarbonOmitter</title>
</head>
<body>
    <h1>Vehicles</h1>
    <a href="{% url 'vehicle_add' %}">Add New Vehicle</a>
    <ul>
        {% for vehicle in vehicles %}
            <li>{{ vehicle.nickname }} - {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})</li>
        {% empty %}
            <li>No vehicles found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
